main {
  text-align: center;
  vertical-align: center;
  line-height: 10vh
}
.error_bg {
  background-image: url('https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif');
 min-height: 80vh;
    margin: 5% auto;
    color: #414;
    font-size: 5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    background-size: contain;
    background-repeat: no-repeat;
  background-position: center;
}

.loading {
  background-image: url('loader.gif');
 min-height: 80vh;
    margin: 5% auto;
    width: 90%;
    background-size: contain;
    background-repeat: no-repeat;
  background-position: center;
}